<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Tesseract OCR micro-service: extract text from an image" />
        <meta name="author" content="Jingchao Luan" />
        <title>Tesseract OCR Micro-Service</title>
        <style type="text/css">
            p {margin-left: 30px;}
            table {margin-left: 30px;}
            .two_tab {margin-left: 60px;}
            #center {text-align: center;}
        </style>
    </head>
    <body>
        <h2 align="center">Tesseract OCR Micro-Service</h2>
        <br>
        <h4>GOAL</h4>
        <p>Extract text from an image.</p>
        
        <h4>USAGE</h4>
        <p>1. Call Tesseract OCR micro-service with url: "http://10.5.146.92:8000/tesseractapi".</p>
        <p>2. Input:</p>
        <p class="two_tab"> 
            1) The image path, uploaded in form style. <br>
            2) Optional. Language(s) involved in the image.</p>
        <p>3. Output: </p>
        <p class="two_tab"> An text file related to the image.</p>
        <p>4. Example: </p>
        <p class="two_tab"> 
            1) Using script "call_tesseract_service.py" under directory "OCR/Tesseract/" directly, with command "python call_tesseract_service.py -h" to check how to use. <font color="red">Remenber</font> to change the IP and PORT inside the script.<br>
            2) Using curl command. E.g. curl -F "<font color="red">image</font>=@<i>path_to_image</i>" -F "<font color="red">lang</font>=eng" -o <i>name_of_output_file</i> http://10.5.146.92:8000/tesseractapi</p>
        
        <h4>LANGUAGES</h4>
        <table border="1" cellspacing="0" >
            <tr bgcolor="silver">
                <th>Parameter</th>
                <th>Type</th>
                <th>Default value</th>
                <th>Supported Language Values</th>
                <th>Comment</th>
            </tr>
            <tr>
                <td>lang</td>
                <td>String</td>
                <td align="center">eng</td>
                <td>eng, chi_tra, chi_sim, osd, equ</td>
                <td>Support multiple languages. Ex. lang=eng+chi_sim</td>
            </tr>
        </table>
        <h4><font color="red">NOTE</font></h4>
        <p> 1) The uploaded image's name/key must be 'image'.</p>
        <p> 2) The value of parameter 'lang' must be same with the supported valued in the above table. For multiple languages, must be combined with symble <font color="red">'+'</font></p>
    </body>
</html>