django>=1.11.15
djangorestframework

# packages for tesseract wrapper: pyocr
Pillow
pyocr
tesseract # Note: For CentOS/RedHat Linux distribution, using script 'install-tesseract-redhat-centos' to install tesseract
