<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="OCR Client." />
        <meta name="author" content="Jingchao Luan" />
        <title>OCRopy Microservice</title>
        <style type="text/css">
            p {margin-left: 30px;}
            table {margin-left: 30px;}
            .two_tab {margin-left: 60px;}
            #center {text-align: center;}
        </style>
    </head>
    <body>
        <h2 align="center">OCR Client</h2>
        <p> Welcom to the OCRopyService, now it's still a test version.</p>
    </body>
</html>